*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: monospace;
}
html, body, #root{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-image: url("https://i.pinimg.com/1200x/33/c4/94/33c494a1a55a2d8e03e34dc7fc5cac1f.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

